{
	"env": {
		"browser": true,
		"es6": true,
		"node": true,
		"commonjs": true
	},
	"parser": "babel-eslint",
	"extends": ["eslint:recommended", "plugin:react/recommended"],
	"parserOptions": {
		"ecmaFeatures": {
			"experimentalObjectRestSpread": true,
			"jsx": true
		},
		"sourceType": "module"
	},
	"plugins": ["react", "prettier"],
	"rules": {
		"no-console": 0,
		"prettier/prettier": "error"
	}
}
